DATABASE_URL="postgresql://postgres:postgres@localhost:5432/access_backend?schema=public"
PORT=4000
NODE_ENV=development
JWT_SECRET="change-this-super-secret"
JWT_EXPIRES_IN="7d"
COOKIE_NAME="access_token"
FRONTEND_URL="http://localhost:3000"

DEFAULT_ADMIN_NAME="Super Admin"
DEFAULT_ADMIN_EMAIL="admin@example.com"
DEFAULT_ADMIN_PASSWORD="12345678"